.array-container {
  position: absolute;
  left: 100px;
  bottom: 100px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.array-bar {
  width: 2px;
  background-color: blueviolet;
  display: inline-block;
  margin: 0 1px;
}
